<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Sporty Groups</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.ssiamprinting.sportygroups</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sporty Groups</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.225095912284-7583jjfntk6m2pg24qtcv4nhrj2o59ip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.225095912284-c9g2kmm360kveta42e004gm5mrslq9s1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.ssiamprinting.sportygroups</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GMSAPIKey</key>
	<string>AIzaSyCBKY9BolD0OZCJJUYVqTbNkhlroUWVwvI</string>
	<key>GoogleSignIn</key>
	<dict>
		<key>ClientID</key>
		<string>225095912284-c9g2kmm360kveta42e004gm5mrslq9s1.apps.googleusercontent.com</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleIDUsageDescription</key>
	<string>We need access to your Apple ID for Sign-In with Apple.</string>
	<key>NSFaceIDUsageDescription</key>
  	<string>This app uses Face ID to authenticate you for secure access to team management features.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to capture photos.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We use your location to provide real-time updates and enhance your experience, even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location when selecting event venues.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for video recording.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app requires permission to add images to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library to save images.</string>
	<key>NSUserInterfaceStyle</key>
	<string>Light</string>
	<key>SignInWithApple</key>
	<dict>
		<key>ClientID</key>
		<string>com.ssiamprinting.sportygroups</string>
		<key>RedirectURI</key>
		<string>https://group2-9c35a.firebaseapp.com/__/auth/handler</string>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>processing</string>
	</array>

	<!-- Added Missing Key for Background Task Identifiers -->
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.ssiamprinting.sportygroups.backgroundrefresh</string>
	</array>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
